@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:wght@900&display=swap');

.bg-mesh {
    background: url(../images/mesh1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    padding: 0;
    z-index: 1;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

*,
::after,
::before {
    box-sizing: border-box;
}

user agent stylesheet section {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    max-width: 100%;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    max-width: 100%;
}

.container {
    padding-right: 0;
}

ul {
    padding-left: 0;
}

div.col-12 {
    padding: 0;
    max-width: 100%;
}

div.col-xl-4 {
    padding: 0;
}

div.row {
    margin: 0;
}

iframe {
    padding-bottom: 130px;
}
/*--------------------------------- colours*/
.bg-color-name-title {
    background-color: #525252;
    padding: 0;
    left: 0;
}

.ui-menu-color-home {
    background-color: #eec102;
    border-bottom: #c0c0c0 1px solid;
}

.ui-menu-color-projects {
    background-color: #64b244;
    border-bottom: #c0c0c0 1px solid;
}

.ui-menu-color-contact {
    background-color: #d9492f;
    border-bottom: #c0c0c0 1px solid;
}

.ui-menu-color-download {
    background-color: #638bfd;
    border-bottom: #c0c0c0 1px solid;
}

/*.bg-color-personal-info {
    margin-top: 0;
    margin-bottom: 20px;
}*/

/*--------------------------------- special paddings, margins and text*/
h1,
h3,
h4 {
    margin: 0;
}

p {
    font-size: 1.25rem;
}


p.auto-type {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    margin: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    color: #5e5d5d;;
}

.typed-cursor.typed-cursor {
    display: none;
}
/*
.amazing {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    -webkit-text-stroke: 2px #000000;
    margin: 20px 20px 0;
    color: #bbbbbb;
    padding-left: 10px;
    padding-right: 10px;
}
.amazing::before {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    margin: 20px 20px 0;
    content: attr(data-text);
    color: #d9492f;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-text-stroke: 2px #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}*/

.zoom-effect {
    animation: zoom 8s ease-in-out infinite;
}

@keyframes zoom {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
        /* Adjust the scale factor as needed for your desired zoom effect */
    }

    100% {
        transform: scale(0.9);
    }
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    float: none;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.section-heading-projects {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
}

/*--------------------------------- heading*/
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    min-height: 260px;
    position: relative;
    perspective: 1000px;
    border-bottom: #c0c0c0 1px solid; 
}

.bg-mesh {
    background: url("../images/mesh1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    padding: 0;
    z-index: 1;
}

.bg-poster {
    background: url("../images/parabim-poster.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    padding: 0;
    z-index: 3;
}

.img-fluid {
    max-height: 500px;
    padding-left: 0;
    margin-bottom: 5px;
}

.img-power-icons {
    width: 80%;
    margin: 20px;
    padding: 0 10px;
    vertical-align: middle;
    border-style: none;
}

.img-fluid-container {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    max-height: 600px;
}

.img-fluid-container-icons {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    max-height: 600px;
}

.img-trust {
    max-width: 300px;
    /* Set the maximum width you desire */
    max-height: 300px;
    /* Set the maximum height you desire */
    width: auto;
    height: auto;
    padding-left: 0;
    padding-top: 10px;
}

.logo-parabim {
    width: 70px;
    /* Set the width as needed */
    height: auto;
    margin: 20px 10px 10px;
    padding: 0 10px;
}

.logo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/pblogo.png");
    /* Default image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    /*transition: opacity 0.5s ease-in-out;*/
    transform: rotateY(0deg);
    /* Initial rotation state */
    opacity: 1;
}

.logo:hover {
    transform: rotateY(180deg);
    /* Flipping horizontally */
}

.logo:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/flip-image.jpg");
    /* New image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    transition: opacity 0.2s ease-in-out;
    transform: rotateY(180deg);
    /* Initial rotation state */
    opacity: 0;
    margin-right: 0;
}

.logo:hover:after {
    opacity: 1;
    /* Fade in new image */
}

/* Media query for screens at or below medium (md) size */
@media (max-width: 1199px) {
    p.main-text, p.auto-type {
        text-align: center;
    }
}

@media (max-width: 992px) {
    .logo {
        display: none;
        /* Hide the .logo element at medium screens */
    }
    .col-lg-4 {
        padding-left: 0;
    }
    .container {
        padding: 0;
    }
    .img-power-icons {
    width: 85%;
    }
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 50px;
    margin-top: 30px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.main-text {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 2.1rem;
    margin: 20px;
    color: #212529;
    padding-left: 10px;
    padding-right: 10px;
}

.only-bg-light {
    background-color: rgba(245, 245, 245, 0.6);
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
    padding-left: 10px;
    padding-right: 20px;
}

.list-inline-item {
    z-index: 3;
}

.list-inline-item:not(:last-child) {
    margin: 0; 
    /*Using Inspect in google chrome we found this bootstrap 
    class that is causing a gap between Home-Projects-contact-Download divs*/
}

.menucontainer {
    font-size: 0; /*This will remove the remaining gap between 
    Home-Projects-contact-Download divs but will make all font = 0*/
    margin-left: 0;
    margin-right: 0;
    left: 0;
}

.mediacontainer-padding {
    padding: 0;
}

#nav {
    margin: 0;
}

/*Now make the child items of the nav font 14px to solve the gap problem*/
#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 90px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%; /*To make the entire area clickable*/
    text-decoration: none; /*To remove the underline*/
    color: #fff;
    height: 90px;
}

.menuitem a i {
    padding-top: 18px;
    display: block; /*To put the icon on top of the text*/
    color: #fafafa;
    font-size: 26px;
} 

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*------------------------ Custom CSS for button */
.btn-success {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.btn-outline-dark {
    margin-bottom: 5px;
}

div.portfolio-menu li {
    margin-bottom: 10px;
}

div.portfolio-menu ul {
    padding-left: 30px;
}

/*--------------------------------- hover.css*/
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 90px;
}

.text-justify {
    padding-left: 30px;
    padding-right: 30px;
    z-index: 3;
}

.text-center {
    margin: 0;
    display: flex;
    align-items: center;
}

/* ----------------------------------------Footer */
footer {
    background-color: #444444;
    color: #fafafa;
    min-height: 120px;
    margin-top: auto;
}

.portfolio-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.portfolio-pdf i:hover {
    color: #eec102;
}



.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.col-sm-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center horizontally */
    justify-content: center;
    /* Center vertically */
}

.social-links li a i:hover {
    background: #638bfd;
}

#footer-details {
    padding: 0;
}

footer p {
    margin-bottom: 2rem;
}

/* ----------------------------------------Three Reasons*/

.three-reasons-icon {
    font-size: 36px;
    color: #e84610;
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

.card-icon {
    font-size: 36px;
    color: #e84610;
    display: flex;
    justify-content: center;
    
}

div.card {
    margin-top: 5px;
}

div.card-container {
    margin-bottom: 30px;
}

.three-reasons-heading {
    /*margin-bottom: 10px;*/
    color: #333;
    /* Set your desired text color */
    text-decoration: none;
    /* Remove underline */
    cursor: pointer;
    /* Change cursor to indicate clickable element */
}

.three-reasons-heading:hover {
    color: #555;
    text-decoration: underline;
    
}

.three-reasons-heading-noclick {
    margin-top: 45px;
    margin-bottom: 25px;
    color: #333;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 10px;
    padding-right: 10px;
}

.card {
    flex: 0 0 20%;
    /* Adjust the width as needed */
    margin: 0;
    padding: 10px 20px;
}

.card-body {
    padding-right: 0;
}

@media screen and (max-width: 576px) {
    h5, .h5, p.auto-type {
        font-size: 2rem;
    }
    h1.name {
        font-size: 26px;
    }
    h2.title {
        font-size: 16px;
    }
    p {
        font-size: 1rem;
    }
    .three-reasons-heading-noclick {
        font-size: 1.3rem;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .col-12 {
        padding-right: 0;
    }
    .col-lg-12 {
        padding-right: 0;
    }
    .col-xl-8 {
        padding-right: 0;
    }
    .col-lg-4 {
        padding-right: 0;
    }
    .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
    margin-right: -5px;
    }
    .main-text {
        font-size: 16px;
        font-weight: 400;
    }
}

@media screen and (max-width: 397px) {
    .three-reasons-heading {
        font-size: 15px;
        margin: 0;
    }
    .card-body {
        padding: 0;
        justify-content: center;
    }
    .card {
        padding: 5px;
    }
    .card-container i {
        /*visibility: hidden;*/
        font-size: 26px;
    }
    .img-power-icons {
        width: 100%;
    }
    
}

.thumbnail img {
    max-width: 100%;
    height: auto;
}

img.img-fluid {
    margin: 0;
    padding: 40px 10px 10px;
    vertical-align: middle;
    border-style: none;
}

img.img-fluid:last-child {
    margin-bottom: 30px;
    padding: 40px 10px 10px;
    vertical-align: middle;
    border-style: none;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    left: 0;
    z-index: 2;
    height: 400px;
    /* Default height */
}

/* Define the height at different breakpoints */
@media (max-width: 5000px) and (min-width: 1601px) {
    #particles-js {
        height: 310px;
        /* Adjust the desired height */
    }
}
@media (max-width: 1600px) and (min-width: 992px) {

    /* For xl screens and below */
    #particles-js {
        height: 340px;
        /* Adjust the desired height */
    }
}

@media (max-width: 991px) and (min-width: 768px) {

    /* For lg screens and below */
    #particles-js {
        height: 400px;
        /* Adjust the desired height */
    }
}

@media (max-width: 767px) and (min-width: 576px) {

    /* For md screens and below */
    #particles-js {
        height: 500px;
        /* Adjust the desired height */
    }
}

@media (max-width: 575px) and (min-width: 485px) {

    /* For sm screens and below */
    #particles-js {
        height: 440px;
        /* Adjust the desired height */
    }
}

@media (max-width: 484px) and (min-width: 425px) {

    /* For sm screens and below */
    #particles-js {
        height: 500px;
        /* Adjust the desired height */
    }
}

@media (max-width: 424px) and (min-width: 380px) {

    /* For sm screens and below */
    #particles-js {
        height: 560px;
        /* Adjust the desired height */
    }
}

@media (max-width: 379px) {

    /* For sm screens and below */
    #particles-js {
        height: 700px;
        /* Adjust the desired height */
    }
}

/*.canvas.particles-js-canvas-el {
    position: absolute;
    width: 0;
    height: 0;
}*/

/*.particles-js-canvas-el {
    width: 100vw;
    height: auto;
}*/

/* ---- stats.js ---- */

.js-count-particles {
    font-size: 1.2em;
}

#stats,
.count-particles {
    -webkit-user-drag: none;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}


/*----------------------------Portfolio*/
.portfolio-menu {
    text-align: center;
    /*portfolio fileter menu hidden because it has buttons to filter Power Apps from Power BI from Power Pages and to show all*/
    display: none;
}

.portfolio-menu li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -moz-transition: all 05s ease;
    -ms-transition: all 05s ease;
    -o-transition: all 05s ease;
    transition: all .5s ease;
}
/*.container {
    margin: 0;
}*/

.portfolio-heading {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.portfolio-item {
    margin-left: 40px;
}

.portfolio-item .item {
    /*width:303px;*/
    float: left;
    margin-bottom: 10px;
}

div.item.selfie {
    padding: 0;
}

/*----------------------------Contact us form*/
form {
    padding-left: 30px;
}

.floating-label input,
.floating-label textarea {
    padding-top: 1.2rem;
    /* Adjust the top padding to make room for the label */
}

.floating-label label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: transform 0.2s ease-out, font-size 0.2s ease-out;
    transform-origin: 0 0;
}

.floating-label input:focus~label,
.floating-label input:not(:placeholder-shown)~label,
.floating-label textarea:focus~label,
.floating-label textarea:not(:placeholder-shown)~label {
    transform: translateY(-50%) scale(0.8);
    font-size: 0.8rem;
}


/* Add a white background color to the top navigation */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
    align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: #797979;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    color: #747474;
    font-weight: bolder;
    /*border-bottom: 3px solid red;*/
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: right;
    }
}

@media screen and (max-width: 384px) {
    .topnav a {
            padding: 14px 8px;
        }
    .logo-parabim {
        padding: 0;
    }
}

@media screen and (max-width: 890px) {
    .topnav a {
        font-size: 14px;
    }
}

/* Style the tab buttons */
.tablink {
    background-color: #cccaca;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: left;
}

/* Style each tab content individually */
#London {
    background-color: #822A7B;
}

button.tablink {
    background: #707070;
}

#Paris {
    background-color: #3689F3;
}

#Tokyo {
    background-color: #E9B814;
}

#Oslo {
    background-color: #1AB1D6;
}