@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*--------------------------------- colours*/
.bg-color-name-title {
    background-color: #c0c0c0;
}

.ui-menu-color-home {
    background-color: #eec102;
}

.ui-menu-color-projects {
    background-color: #64b244;
}

.ui-menu-color-contact {
    background-color: #d9492f;
}

.ui-menu-color-download {
    background-color: #638bfd;
}

/*--------------------------------- heading*/
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/parabim-weblogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    min-height: 360px;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0; 
    /*Using Inspect in google chrome we found this bootstrap 
    class that is causing a gap between Home-Projects-contact-Download divs*/
}

.menucontainer {
    font-size: 0; /*This will remove the remaining gap between 
    Home-Projects-contact-Download divs but will make all font = 0*/
}

/*Now make the child items of the nav font 14px to solve the gap problem*/
#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%; /*To make the entire area clickable*/
    text-decoration: none; /*To remove the underline*/
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 28px;
    display: block; /*To put the icon on top of the text*/
    color: #fafafa;
    font-size: 26px;
} 

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}