@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*--------------------------------- colours*/
.bg-color-name-title {
    background-color: #c0c0c0;
    padding: 0;
    left: 0;
}

.ui-menu-color-home {
    background-color: #eec102;
    border-bottom: #c0c0c0 1px solid;
}

.ui-menu-color-projects {
    background-color: #64b244;
    border-bottom: #c0c0c0 1px solid;
}

.ui-menu-color-contact {
    background-color: #d9492f;
    border-bottom: #c0c0c0 1px solid;
}

.ui-menu-color-download {
    background-color: #638bfd;
    border-bottom: #c0c0c0 1px solid;
}

/*.bg-color-personal-info {
    background-color: #f4f4f4;
}*/

/*--------------------------------- special paddings, margins and text*/
h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.section-heading-projects {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
}

/*--------------------------------- heading*/
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    min-height: 360px;
    position: relative;
    perspective: 1000px;
    border-bottom: #c0c0c0 1px solid; 
}

.bg-mesh {
    background: url("../images/mesh1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
}

.logo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/pblogo.png");
    /* Default image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /*transition: opacity 0.5s ease-in-out;*/
    transform: rotateY(0deg);
    /* Initial rotation state */
    opacity: 1;
    background-size: 40%;
}

.logo:hover {
    transform: rotateY(180deg);
    /* Flipping horizontally */
}

.logo:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/flip-image.jpg");
    /* New image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.2s ease-in-out;
    transform: rotateY(180deg);
    /* Initial rotation state */
    opacity: 0;
    margin-right: 0;
}

.logo:hover:after {
    opacity: 1;
    /* Fade in new image */
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0; 
    /*Using Inspect in google chrome we found this bootstrap 
    class that is causing a gap between Home-Projects-contact-Download divs*/
}

.menucontainer {
    font-size: 0; /*This will remove the remaining gap between 
    Home-Projects-contact-Download divs but will make all font = 0*/
    margin-left: 0;
    margin-right: 0;
    left: 0;
}

.mediacontainer-padding {
    padding: 0;
}

#nav {
    margin: 0;
}

/*Now make the child items of the nav font 14px to solve the gap problem*/
#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%; /*To make the entire area clickable*/
    text-decoration: none; /*To remove the underline*/
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 28px;
    display: block; /*To put the icon on top of the text*/
    color: #fafafa;
    font-size: 26px;
} 

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*------------------------ Custom CSS for button */
.btn-primary {
    background-color: #006cdf;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/*--------------------------------- hover.css*/
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* ----------------------------------------Footer */
footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.portfolio-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.portfolio-pdf i:hover {
    color: #eec102;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

footer p {
    margin-bottom: 2rem;
}

/* ----------------------------------------Three Reasons*/

.three-reasons-icon {
    font-size: 36px;
    color: #e84610;
    display: flex;
    justify-content: center;
}

.three-reasons-heading {
    margin-bottom: 35px;
    color: #333;
    /* Set your desired text color */
    text-decoration: none;
    /* Remove underline */
    cursor: pointer;
    /* Change cursor to indicate clickable element */
}

.three-reasons-heading:hover {
    color: #555;
    text-decoration: underline;
    
}

.three-reasons-heading-noclick {
    margin-bottom: 35px;
    color: #333;
}

.card {
    margin-left: -5px;
    margin-right: -5px;
}
/* ----------------------------------------Film Strip*/
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
}

/*.carousel-multi-item-2 .card img {
    border-radius: 2px;
}*/

.controls-left, .controls-right {
    display: inline-block;
    font-size: 46px;
    display: flex;
    margin-bottom: 4px;
    font-family: "Exo", sans-serif;
    font-weight: 300;
}

.controls-left i ,
.controls-right i {
    color: #e84610;
}

.controls-left {
    justify-content: right;
}

.controls-right {
    justify-content: left;
}